
{% extends 'nature_club/base.html' %}

{% load static %}

{% block content %}

<center><h2>ABOUT</h2></center>

<hr class="btmspace-80">
    <!-- ################################################################################################ -->
    <section class="group">
      <div class="one_half first"><img class="inspace-15 borderedbox" src="{% static 'images/demo/05.jpg' %}" alt=""></div>
      <div class="one_half">
        <ul class="nospace group inspace-15">
          <li class="one_half first btmspace-50">
            <article>
              <h6 class="heading"><a href="#">Posuere ultricies</a></h6>
              <p class="nospace">Sed tellus fusce velit orci aliquet et condimentum sit amet dapibus eget odio vivamus urna pellentesque felis&hellip;</p>
            </article>
          </li>
          <li class="one_half btmspace-50">
            <article>
              <h6 class="heading"><a href="#">Pellentesque ipsum</a></h6>
              <p class="nospace">Ut quam imperdiet tincidunt vestibulum eget magna eget sem imperdiet tincidunt praesent sit amet adipiscing&hellip;</p>
            </article>
          </li>
          <li class="one_half first">
            <article>
              <h6 class="heading"><a href="#">Risus auctor vel</a></h6>
              <p class="nospace">Accumsan curabitur cursus porta lectus nam posuere orci in elementum molestie purus erat volutpat ullamcorper&hellip;</p>
            </article>
          </li>
          <li class="one_half">
            <article>
              <h6 class="heading"><a href="#">Volutpat vitae</a></h6>
              <p class="nospace">Elit purus non odio etiam dictum euismod lectus vestibulum tincidunt erat vel molestie gravida ligula lacus&hellip;</p>
            </article>
          </li>
        </ul>
      </div>
    </section>



{% endblock %}