{% extends 'nature_club/base.html' %}
{% block content %}
<style>

    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        text-shadow: 2px 2px 5px blue;
        border-radius: 5px;
        outline: none;
        border: none;
      }

      input[type="submit"] {
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        text-shadow: 2px 2px 5px blue;
        border-radius: 5px;
        outline: none;
        border: none;
        margin-left: 23%;
      }

      input[type="submit"]:hover{
        background-color: purple;
      }

      input[type="email"]:focus{
        border: 2px solid purple;
        outline: purple;
    }

    input[type="text"]:focus{
        border: 2px solid purple;
        outline: purple;
    }

    #textarea:focus{
        border: 2px solid purple;
        outline: purple;
    }
      
      #textarea{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        text-shadow: 2px 2px 5px blue;
        border-radius: 5px;
        outline: none;
        border: none;
        color: black;
      }

      input[type=email] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        text-shadow: 2px 2px 5px blue;
        border-radius: 5px;
        outline: none;
        border: none;
      }

</style>

<br/>
{% if messages %}
{% for message in messages %}
<div style="margin-top:5rem;" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">{{ message }}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
{% endfor %}
{% endif %}

<main class="content">
    <div class="breadcrumbs">
        <div class="container">
            <a href="{% url 'NATURE_CLUB:Home' %}">Home</a> &rarr;
            <a href="{% url 'NATURE_CLUB:Contact' %}">Contact</a>
        </div>
    </div>

    <div class="page-content">

        <div class="fullwidth-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h1 class="wow fadeInLeft">Addresss</h1>
                        <address class="wow fadeInLeft">
                            <p>Essex Group</p>
                            <p>4235 Poplar Street,  Murang'a, CA 90220</p>
                            <p>Phone: +254 07 96 509 538  <br>info@essexgroup.com</p>
                        </address>
                    </div>
                    <div class="col-md-9">
                        <h1 class="wow fadeInRight">Contact Us</h1>
                        <form action="#" method="post">
                          {% csrf_token %}
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="wow fadeInRight"><input style="color: black;"  type="text" name="Phone" placeholder="Your phone..."></p>
                                    <p class="wow fadeInRight"><input style="color: black;" type="email" name="Email"  placeholder="Email..."></p>
                                </div>
                                <div class="col-md-5">
                                    <p class="wow fadeInRight"><input style="color: black;" type="text" name="Subject" placeholder="Subject..."></p>
                                    <p ><textarea id='textarea' placeholder="Message" name="Message"></textarea></p>
                                    <input style="color: black;" type="submit" class="button pull-right wow fadeInRight" value="Send Messages">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div> <!-- .inner-content -->
</main> <!-- .content -->
{% endblock %}