{% extends 'nature_club/base.html' %}

{% load static %}


{% block content %}


<center><h2>EVENTS</h2></center>

<hr class="btmspace-80">


  
  
  <section style="margin-top: 5%;" id="introblocks">
    <ul class="nospace group btmspace-80">

      <div class="row row-cols-1 row-cols-md-3 ">
        {% for image in images %}
      <div class="col">
       <div class="card">
      <li class="#">
        <figure><a class="imgover" href="#"><img src="{{image.Images.url}}" alt=""></a>
          <figcaption>
            <h6 class="heading">{{image.Title}}</h6>
            <div>
              <p>{{image.description}}</p>
            </div>
          </figcaption>
        </figure>
      </li>
    </div>
  </div>
    {% endfor %}
  </div>

    </ul>
  </section>


{% endblock %}